@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CheckMail";
}

<h1>
    Please, check your e-mail
</h1>
<p>
    click the link sended at <a href="mailto:@ViewBag.email">@ViewBag.email</a>
</p>