@{
    ViewData["Title"] = "FakeBuyPage";
}
<h1>FakeBuy</h1>
<div align="center">
    <div style="background-color: #C6E5F3; overflow: auto; padding: 10px; height: 350px; width: 80%;" align="left">
        <h3>Termini e condizioni</h3>
        <p style="font-family: 'Times New Roman';">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
        </p>
        <input id="Accetta" type="checkbox">
        <label for="Accetta">Accetto termini e condizioni del contratto</label>
    </div>
    <div>&nbsp</div>
    <p>Seleziona il metododo di pagamento</p>

    <div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input name="CreditCard" type="radio" id="Visa" checked>
                <label for="Visa">
                    <img src="~/Media/img-cards/Visa.png" style="width: auto; height: 50px;" />
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input name="CreditCard" type="radio" id="MasterCard">
                <label for="MasterCard">
                    <img src="~/Media/img-cards/Master-Card.png" style="width: auto; height: 50px;" />
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input name="CreditCard" type="radio" id="AmericanExpress">
                <label for="AmericanExpress">
                    <img src="~/Media/img-cards/americanexpress.png" style="width: auto; height: 50px;" />
                </label>
            </div>
        </div>
    </div>
</div>
<form method="post">
    <div>&nbsp</div>
    <div class="form-group">
        <label for="CardNumb">Inserisci il numero della carta</label>
        <input type="text" class="form-control" id="CardNumb">
    </div>
    <div>&nbsp</div>
    <div class="form-group" style="width: 100px;">
        <label for="CVV">CVV</label>
        <input type="number" class="form-control" id="CVV">
    </div>
    <div>&nbsp</div>
    <p>Iserisci la data di scadenza</p>
    <div class="btn-group">
        <input type="number" id="MM" maxlength="2" style="width: 80px;" placeholder="MM" />
    </div>
    /
    <div class="btn-group">
        <input type="number" id="AAAA" maxlength="4" style="width: 80px;" placeholder="AA" />
    </div>
    <div align="right">
        <button type="submit" class="btn btn-primary" onclick="cechk()">Buy</button>
    </div>
</form>
<script src="~/js/checkCarte.js"></script>